fastapi
uvicorn
sqlalchemy==1.4.39
pymysql==1.1.1
pydantic
passlib
bcrypt
aiomysql
greenlet
python-dotenv
alembic
pytest
cryptography
mysqlclient
alembic
aiohttp
python-jose
boto3
haversine
pygeodesic
aiofiles